{{ ansible_managed | comment }}

# Enable the client

client {
  enabled = true
  node_class = "{{ nomad_node_class }}"
  no_host_uuid = true
  
  max_kill_timeout = "30s"
  
  # implement metadata
  #meta = {
  #  "worker" = "pine"
  #}
}

plugin "docker" {
  config {
    allow_privileged = true
    volumes {
      enabled = true
    }
  }
}
plugin "raw_exec" {
  config {
    enabled = true
  }
}