{{ ansible_managed | comment }}

# Full configuration options can be found at https://www.nomadproject.io/docs/configuration

data_dir = "{{ nomad_data_dir }}"
bind_addr = "{{ nomad_bind_addr }}"
log_level = "{{ nomad_log_level }}"
datacenter = "{{ nomad_datacenter }}"

advertise {
    http = "{{ nomad_server_advertise_addr }}:4646"
    rpc = "{{ nomad_server_advertise_addr }}:4647"
    serf = "{{ nomad_server_advertise_addr }}:4648"
}

server {
  enabled = {{ nomad_server | to_json }}
  bootstrap_expect = {{ nomad_server_bootstrap_expect }}
  rejoin_after_leave = true
  enabled_schedulers = ["service","batch","system"]
}

consul {
    # The address to the Consul agent.
    address = "{{ consul_addr }}:8500"
    token = ""
    # The service name to register the server and client with Consul.
    server_service_name = "nomad-servers"
    client_service_name = "nomad-clients"
    tags = {}

    # Enables automatically registering the services.
    auto_advertise = true

    # Enabling the server and client to bootstrap using Consul.
    server_auto_join = true
    client_auto_join = true
}

client {
  enabled = {{ nomad_agent | to_json }}
  # For demo assume we are talking to server1. For production,
  # this should be like "nomad.service.consul:4647" and a system
  # like Consul used for service discovery.
  servers = [{% for server in nomad_agent_servers %}"{{ server.name }}:{{ server.port }}"{% if not loop.last %},{% endif %}{% endfor %}]
}
plugin "docker" {
  config {
    allow_privileged = true
    volumes {
      enabled = true
    }
  }
}
plugin "raw_exec" {
  config {
    enabled = true
  }
}
